/* Path: css\style_sucursales.css */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section
{
    margin: 0 60px 50px 60px;
}

header .logo {
    margin-bottom: 4px;
}

header ul li a
{
    margin-top: 17px;
}

/*
.carousel
{

    /*padding: 100px;
    margin-bottom: 0;
}*/

.carousel .carousel-item  img 
{
    width:100%;
    height:700px;
    margin-bottom: 1rem;
}

section h3
{
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.card
{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .face
{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.card .front
{
    transform: rotateY(0deg);
}

.card .back
{
    transform: rotateY(180deg);
}

.card:hover .front
{
    transform: rotateY(180deg);
}

.card:hover .back
{
    transform: rotateY(360deg);
}

.card-body {
    margin-top: 400px;
}

.card-group .card img {
    width: 100%;
    height: 400px;
    align-items: center;
}

.card-title {
    margin-top: 0.5rem;
    align-items: center;
    text-align: center;
    color: #BF245D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.card-text {
    margin-top: 0.5rem;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.card-text i
{
    color: #BF245D;
    font-size: 15px;
    padding-right: 10px;
}

.text-muted {
    margin-top: 0.5rem;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 771px) {

    .card{
        height: 470px;
    }
    .card-group .card img {
        width: 100%;
        height: 200px;
        align-items: center;
    }

    .card-group .card iframe {
        width: 100%;
        height: 200px;
        align-items: center;
    }

    .card-body {
        margin-top: 200px;
    }

    .section h3
    {
        margin-top: 0.5rem;
        align-items: center;
        text-align: center;
        color: #000;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .card-group .card {
        margin-bottom: 1rem;
    }

    .carousel .carousel-item  img 
    {
        width:100%;
        height:50%;
    }
}
    