/* Path: css/style_products.css*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section h2
{
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}