/* Path: css\style_index.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 4px 11px rgb(14 55 54 / 14%);
    padding: 15px 10%;
}

header .logo
{
    position: relative;
    max-width: 60px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /*font-size: 18;*/
    margin-left: 40px;
    text-decoration: none;
    margin-top: 9px;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: #000;
    font-size: 1.4em;
    line-height: 1.4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.content .textBox h2 span
{
    color: #BF245D;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    font-weight: 600;
}

.content .textBox p
{
    color: #000;
    font-size: 1.1em;
    line-height: 1.4em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content .textBox p span
{
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    float: left;
    padding-top: 20px;
    padding-right: 40%;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img
{
    max-width: 850px;
    max-height: 450px;
}

.thumb
{
    position: absolute;
    left: 80%;
    bottom: 20px;
    transform: translateX(-50%);
    align-items: flex-end;
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover
{
    transform: translateY(-15px);
}

.thumb li img
{
    max-width: 80px;
    max-height: 80px;
}

.sci
{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D98B99;
    clip-path: circle(600px at right 750px);
}

.foot
{
    width: 100%;
    background: #F2EAD0;
}

.foot .foot-container
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0;
}

.foot .foot-container .box figure
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot .foot-container .box figure img
{
    max-width: 100px;
    max-height: 100px;
}

.foot .foot-container .box h3
{
    color: #000;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 15px 0;
}

.foot .foot-container .box p
{
    color: #000;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.4em;
}

.foot .foot-container .social-media a
{
    display: inline-block;
    text-decoration: none;
    color: #BF245D;
    font-size: 3em;
    line-height: 1.4em;
    margin: 0 10px;
    text-align: center;
}

.foot .foot-final
{
    width: 100%;
    background: #D98B99;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

@media (max-width: 991px)
{
    header 
    {
        padding: 20px;
    }

    header .logo
    {
        max-width: 60px;
    }

    header ul
    {
        display: none;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url('../img/menu.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active
    {
        position: fixed;
        right: 20px;
        background: url('../img/close.png');
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul.navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        z-index: 10;
    }
    header ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .section
    {
        padding: 20px 20px 120px;
    }
    .content
    {
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2
    {
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    .content .textBox h2 span
    {
        font-size: 2.5em;
    }
    .content textBox
    {
        max-width: 100%;
    }
    .content .imgBox
    {
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img
    {
        max-width: 400px;
        max-height: 400px;
    }
    .thumb
    {
        left: 50%;
    }
    .thumb li img
    {
        max-width: 60px;
    }
    .circle
    {
        clip-path: circle(400px at center bottom);
    }
    .sci
    {
        background: #BF245D;
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .foot .foot-container{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}