/* Path: css/style_infoproduct.css */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section
{
    margin: 0 100px 50px 100px;
}

header .logo {
    margin-bottom: 4px;
}

header ul li a
{
    margin-top: 17px;
}